 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 a {
    font-family: sans-serif;
    text-decoration: none;
 }

 .header {
    background: #a5c;
    padding-inline: 16px;
 }

 .nav {
    max-width: 1280px;
    height: 70px;
    margin-inline: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 .logo {
    font-size: 48px;
 }

 .nav-list {
    display: flex;
    gap: 32px;
    list-style: none;
 }

 .nav-list a {
    font-size: 18px;
    color: #fff;
    padding-block: 16px;
 }

 .hero {
    height: calc(100vh - 70px);
    background: center / cover no-repeat url('./bg.jpg');
 }
 
 .hamburguer {
    display: none;
    border: none;
    background: none;
    border-top: 3px solid #fff;
    cursor: pointer;
 }

 .hamburguer::before,
 .hamburguer::after {
   content: '';
   display: block;
   width: 30px;
   height: 3px;
   background: #fff;
   margin-top: 5px;
   position: relative;
 }

 @media (max-width: 750px) {
   .hamburguer {
      display: block;
      z-index: 1;
   }

   .nav-list {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: #a5c;
      clip-path: circle(100px at 90% -15%);
      transition: .4s ease-out;
      pointer-events: none;

      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      gap: 0;
   }

   .nav-list a {
      font-size: 24px;
      opacity: 0;
   }

   .nav-list li:nth-child() a {
      transition: .5s .2s;
   }

   .nav-list li:nth-child() a {
      transition: .5s .4s;
   }

   .nav-list li:nth-child() a {
      transition: .5s .6s;
   }

   .nav.active .nav-list {
      clip-path: circle(1500px at 90% -15%);
      pointer-events: all;
   }
   
   .nav.active .nav-list a {
      opacity: 1;
   }

   .nav.active .hamburguer {
      position: fixed;
      top: 26px;
      right: 26px;
      border-top: transparent;

   }  

   .nav.active .hamburguer::before {
      transform: rotate(135deg)
   }

   .nav.active .hamburguer::after {
      transform: rotate(-135deg);
      top: -7px;
   }
 }