body {
    background: linear-gradient(90deg, rgba(56,56,56,1) 0%, rgb(73, 73, 73) 50%, rgba(56,56,56,1) 100%);
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img {
    background: url('./bg.jpg');
    width: 600px;
    height: 600px;
    position: relative;
    background-size: cover;
}

.img:before{
    content: "";
    position: absolute;
    background: url('./splash.png');
    width: 600px;
    height: 600px;
    background-size: cover;
    mix-blend-mode: screen;
}
