.img {
    background: url('./bg.jpg');
    width: 600px;
    height: 600px;
    position: relative;
    background-size: cover;
}

.img:before{
    content: "";
    position: absolute;
    background: url('./splash.png');
    width: 600px;
    height: 600px;
    background-size: cover;
    mix-blend-mode: screen;
}
