* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(30 30 30);
    position: absolute;
}

.load {
    background-color: rgb(0 133 255);
    width: 10px;
    height: 50px;
    border-radius: 7px;
    position: absolute;
    left: 30%;
    box-shadow: 0px 0px 20px rgb(35 67 98);
}

#um {
    bottom: 80%;
    animation: load 5s ease infinite;
}

#dois {
    bottom: 70%;
    animation: load 5s ease-in infinite;
}

#tres {
    bottom: 60%;
    animation: load 5s ease-out infinite;
}

#quatro {
    bottom: 50%;
    animation: load 5s ease-in-out infinite;
}

#cinco {
    bottom: 40%;
    animation: load 5s linear infinite;
}

#seis {
    bottom: 30%;
    animation: load 5s step-start infinite;
}

#sete {
    bottom: 20%;
    animation: load 5s step-end infinite;
}

#oito {
    bottom: 10%;
    animation: load 5s steps(4, end) infinite;
}

@keyframes load {
    0% {
        width: 10px;
    }

    50% {
        width: 500px;
    }

    100% {
        width: 10px;
    }
}