h1 {
    text-align: center;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.info > div{
    margin: 10px 0;
}

#java {
    display: inline;
}

.opn > div {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}

form > div {
    display: flex;
    justify-content: center;
}

div > button {
    margin: 10px;
}