* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(38, 38, 38);
}

.box {
    width: 500px;
    height: 500px;
    background-color: rgb(15, 78, 214);
    clip-path: polygon(25% 0%, 90% 10%, 75% 85%, 5% 100%);
    border-radius: 10%;
}