* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(66, 141, 121);
}

:root {
    --color-body: radial-gradient(circle, rgba(171,212,231,1) 0%, rgba(101,148,164,1) 100%);
    --color-red: radial-gradient(circle, rgba(133,55,68,1) 0%, rgba(170,91,96,1) 100%);
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#box {
    width: 340px;
    height: 340px;
    background: var(--color-body);
    position: absolute;
    border: 6px solid black;
    box-shadow: 0px 0px 50px black;
    animation: none;
}

#olho-esquerdo, #olho-direito {
    width: 35px;
    height: 35px;
    background-color: black;
    position: relative;
}

#olho-esquerdo {
    top: 92px;
    left: 90px;
    border-radius: 50%;
}

#olho-direito {
    top: 29px;
    left: 230px;
    border-radius: 50%;
}

#boca {
    width: 166px;
    height: 107px;
    background-color: rgb(66, 79, 152);
    position: absolute;
    top: 170px;
    left: 95px;
    overflow: hidden;
    border: 6px solid black;
    border-radius: 43% 20% 22% 20%;
    transform: rotate(-9deg);
}

#lingua {
    width: 140px;
    height: 90px;
    background: var(--color-red);
    position: relative;
    top: 43px;
    left: -33px;
    border: 3px solid black;
    border-radius: 45% 51% 21% 10%;
}

#button {
    width: 50px;
    height: 50px;
    position: relative;
    top: 250px;
    outline: none;
    border: none;
    border-radius: 50%;
    box-shadow: 0px 0px 50px black;
    background: none;
    background-image: url('img/bola.png');
    background-size: cover;
}

#img-button {
    width: 50px;
}

@keyframes on {
    0% {
        border-radius: 0%;
    }
    
    100% {
        border-radius: 50%;
    }
}

@keyframes off {
    0% {
        border-radius: 50%;
    }

    100% {
        border-radius: 0%;
    }
    
}